.button {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 26px 38px;
    border:1px solid transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    &_dark {
        background-color: $dark;
        &:hover {
            background-color: transparent;
            border: 1px solid $dark;
            color: $dark;
        }
    }
    &_light {
        background-color: $light;
        &:hover {
            background-color: transparent;
            border: 1px solid $light;
            color: $light;
        }
    }
}

@media (max-width:768px) {
    .button {
        padding: 20px 30px;
    }
}
@media (max-width:480px) {
    .button {
        font-size: 10px;
        line-height: 12px;
        padding: 16px 24px;
    }
}

