.footer {
    background-color: $dark;
    color: white;
    padding: 67px 0;
    &__logo {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.14em;
        margin-bottom: 33px;
        color: #FFFFFF;
        text-decoration: none;
        display: block;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 80px;
        max-width: 1000px;
        margin: 0 auto;
    }
    &__item {
        &:not(:first-child) {
            padding-top: 12px;
        }
    }
    &__info {
        display: grid;
        gap: 10px;
        a {
           color: rgba(255, 255, 255, 0.75); 
           display: block;
           text-decoration: none;
           padding-bottom: 5px;
           &:hover {
            color: rgba(255, 255, 255, 1);
           }
        }
    }
    &__title {
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        margin-bottom: 33px;
    }
    &__nav {
        display: grid;
        gap: 10px;
        a {
            display: block;
            padding-bottom: 5px;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.75);
            transition: all 0.3s;
            &:hover {
                color: rgba(255, 255, 255, 1);
           }
        }
    }
}

@media (max-width:1024px) {
    .footer {
        padding: 40px 0;
        &__items {
            gap: 35px;
            max-width: 90%;
        }
    }
}
@media (max-width:768px) {
    .footer {
       font-size: 12px;
        &__items {
            gap: 20px;
        }
    }
}
@media (max-width:480px) {
    .footer {
        padding: 20px 0;
        font-size: 12px;
        &__items {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}