.header {
    padding: 30px 0;
    &__items {
        display: grid;
        grid-template-columns: 110px 1fr 110px;
        justify-items: center;
    }
    &__logo {
        font-family: 'Playfair Display';
        font-size: 12px;
        letter-spacing: 0.14em;
        color: #555248;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    &__menu {
        display: grid;
        gap: 43px;
        grid-auto-flow: column;
        &_item { 
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            padding: 10px;
            &:hover {
                box-shadow: 0px 1px 0px #555248;
                transition: all 0.3s;
            }
        }
        &_link {            
            text-decoration: none;
            color: #555248;
        }
    }
    &__icons {
        display: grid;
        gap: 23px;
        grid-auto-flow: column;
    }
    &__mobile {
        display: none;
        &_open{
            display: none;
        }
        
    }
}

@media (max-width:600px) {
    .header {
        &__items {
            grid-template-columns: 1fr auto auto;
            gap: 20px;
            justify-items: start;
            align-items: center;
        }
        &__menu {
            display: none;
        }
        
        &__mobile {
            display: none;
            background-color: #fff;
            position: absolute;
            width: 100vw;
            height: 150%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            box-sizing: border-box;
            z-index: 20;
            &_open{
                display: block;
                border: none;
                background: none;
                img {
                    width: 24px;
                    height: 24px;
                }
            }
            &_close{
                display: block;
                border: none;
                background: none;
                position: absolute;
                right: 0;
                img {
                    width: 24px;
                    height: 24px;
                }
            }
            &_menu {
                display: block;
                background-color: #fff;
                padding-bottom: 30px;
                a {
                  font-size: 20px;  
                }
                div {
                    text-align: left;
                }
            }
            
        }
    }
}