.news {
    margin-top: 81px;
    margin-bottom: 90px;
    background-color: #fff;
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 71px;
        align-items: center;
    }
    &__title {
        width: 490px;
    }
    &__descr {
        margin-top: 40px;
        margin-bottom: 120px;
        max-width: 376px;
        font-size: 16px;
        line-height: 150%;
        color: #444240;
    }
    &__socials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 100px;
        align-items: center;
        gap: 8px;
        
    }
    
    &__social { 
        display: block;
        padding: 5px;
    }
    &__gallery {
        display: grid;
        grid-template-areas: 'a b'
                             'c b';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        img:first-child {
            grid-area: a;
        }
        img:nth-child(2) {
            grid-area: b;
        }
        img:last-child {
            grid-area: c;
        }
    }
}

@media (max-width:1024px) {
    .news {
        &__wrap {
            gap: 10px;
            grid-template-columns: 300px 1fr;
        }
        &__title {
            width: 290px;
        }
        &__descr {
            margin-bottom: 40px;
            max-width: 290px;
        }
        
        &__gallery {
            max-width: 580px;
            gap: 10px;
        }
    }
}
@media (max-width:768px) {
    .news {
        &__wrap {
            gap: 10px;
            grid-template-columns: 400px 1fr;
        }
         &__title {
            width: 390px;
        }
        &__descr {
            max-width: 95vw;
        }
        &__gallery {
            img:nth-child(2){
                display: none;
            }
        }
    }
}
@media (max-width:480px) {
    .news {
        margin: 40px 0;
        &__wrap {
            gap: 10px;
            grid-auto-flow: column;
            grid-template-rows: 1fr 1fr;
        }
        &__gallery {
            grid-auto-flow: row;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'a c';
            grid-template-rows: 1fr;
            align-items: center;
            max-width: 90vw;
            img {
                width: 100%;
            }
        }
    }
}