.popular {
    padding-top: 76px;
    background: #fff;
    max-width: 1200px;
        margin: 0 auto;
    &__title {
        text-align: center;
        margin-bottom: 52px;
        position: relative;
        
    }
    &__link {
        padding: 10px;
        position: absolute;
        right: 0;
        bottom: -10px;
        border-bottom: 1px solid #C4C0B6;
        transition: all 0.3s;
        text-decoration: none;
        font-weight: 500;
        line-height: 19px;
        color: #444240;
        &:hover {
            border-bottom: 1px solid $black;
            color: $black;
        }
        
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
        
    }
    &__item {
        padding: 40px 30px;
        &_title {
            font-family: 'Playfair Display';
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: rgba(27, 26, 23, 0.82);
        }
        &_price {
            font-family: 'Prata';
            font-size: 12px;
            line-height: 16px;
            color: rgba(27, 26, 23, 0.82);
        }
        a {
            font-family: 'Playfair Display';
            line-height: 21px;
            color: #1B1A17;
            text-decoration: none;
            position: relative;
            left: 50px;
            transition: all 0.3s;
            display: block;
            &:before {
                position: absolute;
                display: block;
                content: '';
                width: 30px;
                height: 1px;
                background-color: #8B8371;
                left: -50px;
                top: 50%;
            }
            &:hover {
                color: $light;
            }
        }
        img {
            border-radius: 50%;
            filter: drop-shadow(2px 2px 10px rgba(85, 82, 72, 0.23));
            border-left: none;
            box-shadow: 1px 0px 0px 1px #e9e3d4;
            margin-bottom: 20px;
        }
    }
}

@media (max-width:1024px) {
    .popular {
        max-width: 90%;
        &__item {
            padding: 20px 0px;
            img {
                width: 90%;
            }
        }
    }
}
@media (max-width:768px) {
    .popular {
        &__item {
            padding: 20px 0px;
            img {
                width: 90%;
            }
            a {
                left: 40px;
                &:before {
                    left: -40px;
                }
            }
        }
    }
}
@media (max-width:480px) {
    .popular {
        &__item {
            img {
                width: 80%;
            }
            a {
                left: 30px;
                &:before {
                    left: -30px;
                    width: 18px;
                }
            }
        }
        &__link {
            right: 36%;
            bottom: -43px;
        }
    }
}